<div mat-dialog-content class="forgotPassword">
	<p>What is your register email id ?</p>
	<mat-form-field>
		<input matInput id="forgotEmail" #forgotEmail="ngModel" [(ngModel)]="data.forgotEmail" placeholder="Enter your email.." required
			pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
	</mat-form-field>
	<div class="md-errors-spacer" [hidden]="forgotEmail.valid || forgotEmail.untouched">
		<mat-error *ngIf="forgotEmail.errors && forgotEmail.errors.required"> Email is required</mat-error>
		<mat-error *ngIf="forgotEmail.errors && forgotEmail.errors.pattern"> Email is invalid</mat-error>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-flat-button color="warn" class="cancleButten" (click)="onNoClick()">No Thanks</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button mat-flat-button color="primary" [disabled]="!forgotEmail.valid" class="okButten" [mat-dialog-close]="data.forgotEmail"
		(click)="ok()" cdkFocusInitial>Ok</button>
</div>
